.BurgerIngredient {
  width: 300px;
  margin: 1px 0;
}

.BurgerIngredient--BreadTop {
  height: 50px;
  border-radius: 50px 50px 0 0;
  background-color: #ffd4b4;
}

.BurgerIngredient--BreadBottom {
  background-color: #ffd4b4;
  border-radius: 0 0 20px 20px;
  height: 35px;
}

.BurgerIngredient--Meat {
  background-color: #453223;
  border-radius: 5px;
  height: 15px;
}

.BurgerIngredient--Cheese {
  background-color: #ffdd6c;
  border-radius: 2px;
  height: 4px;
}

.BurgerIngredient--Letuce {
  background-color: #1a9420;
  border-radius: 2px;
  height: 8px;
}